﻿@using Microsoft.AspNetCore.Identity
@model IdentityRole
@{
    ViewData["Title"] = $"Delete Role {Model.Name}?";
}

<h5>Delete Role <strong>@Model.Name</strong>?</h5>

<div>

    <h6>Users in this Role:</h6>
    <br />
    <ul>
        @foreach (var item in ViewBag.roleOwners)
        {
            <li>@(item.UserName)</li>
        }
    </ul>
    <br />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Name" />
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-primary">Cancel</a>

        </div>
    </form>

</div>
<hr />
<div>
    <a class="btn btn-info" asp-action="Index">Return to Role List</a>
</div>

