﻿@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole>;

@{
    ViewData["Title"] = "Current Roles";
}

<h3>@ViewData["Title"]</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @("Role Name")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(_ => item.Name)
                </td>
                <td class="no-wrap">
                    <a asp-action="ListUsers" asp-route-roleName="@item.Name">
                        Users in Role
                    </a>
                    @if (!item.Name.Equals("admin", StringComparison.OrdinalIgnoreCase))
                    {
                        <text>|</text><a asp-action="Delete" asp-route-roleName="@item.Name"> Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="form-group">
    <form asp-action="Create">
        <div class="form-group form-inline">
            <label class="control-label d-inline">Create New Role:</label>&nbsp;&nbsp;
            <input type="text" id="roleName" name="roleName" class="form-control" />&nbsp;&nbsp;
            <input type="submit" value="Create Role" class="btn btn-primary" />
        </div>

    </form>
</div>