﻿<ul class="navbar-nav text-white-50">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <span class="nav-link text-white"><strong>@User.Identity.Name</strong></span>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white-50" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage your account"><i class="fa fa-lg fa-user"></i></a>
        </li>
        <li class="nav-item">
            <form id="frmLogout" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <a class="nav-link text-white-50" onclick="$('#frmLogout')[0].submit();" href="#" title="Sign out"><i class="fa fa-lg fa-sign-out"></i></a>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white-50" asp-area="Identity" asp-page="/Account/Login">Register / Login</a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link text-white-50" asp-area="" asp-controller="Home" asp-action="About" title="Site information"><i class="fa fa-lg fa-info"></i></a>
    </li>
</ul>
