﻿@model HoldTagSignOff.Models.OpenHoldTag

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>OpenHoldTag</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateClosed" class="control-label"></label>
                <input asp-for="DateClosed" class="form-control" />
                <span asp-validation-for="DateClosed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Closed" class="control-label"></label>
                <input asp-for="Closed" class="form-control" />
                <span asp-validation-for="Closed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qty" class="control-label"></label>
                <input asp-for="Qty" class="form-control" />
                <span asp-validation-for="Qty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OkToProcessBy" class="control-label"></label>
                <input asp-for="OkToProcessBy" class="form-control" />
                <span asp-validation-for="OkToProcessBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SortBy" class="control-label"></label>
                <input asp-for="SortBy" class="form-control" />
                <span asp-validation-for="SortBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReworkBy" class="control-label"></label>
                <input asp-for="ReworkBy" class="form-control" />
                <span asp-validation-for="ReworkBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScrapBy" class="control-label"></label>
                <input asp-for="ScrapBy" class="form-control" />
                <span asp-validation-for="ScrapBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UseAsIsAmt" class="control-label"></label>
                <input asp-for="UseAsIsAmt" class="form-control" />
                <span asp-validation-for="UseAsIsAmt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UseAsIsBy" class="control-label"></label>
                <input asp-for="UseAsIsBy" class="form-control" />
                <span asp-validation-for="UseAsIsBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorizedBy" class="control-label"></label>
                <input asp-for="AuthorizedBy" class="form-control" />
                <span asp-validation-for="AuthorizedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedBy" class="control-label"></label>
                <input asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

