﻿@model HoldTagSignOff.Models.OpenHoldTag

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OpenHoldTag</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateClosed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateClosed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Closed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Closed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OkToProcessBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OkToProcessBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SortAmt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SortAmt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SortBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SortBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReworkAmt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReworkAmt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReworkBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReworkBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScrapAmt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScrapAmt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScrapBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScrapBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UseAsIsAmt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UseAsIsAmt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UseAsIsBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UseAsIsBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorizedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorizedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="HtsoId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
