﻿@model IEnumerable<HoldTagSignOff.Models.OpenHoldTag>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TagNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateClosed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Closed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OkToProcessBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SortAmt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SortBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReworkAmt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReworkBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScrapAmt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScrapBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UseAsIsAmt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UseAsIsBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorizedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TagNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateClosed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Closed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OkToProcessBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SortAmt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SortBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReworkAmt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReworkBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScrapAmt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScrapBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UseAsIsAmt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UseAsIsBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorizedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HtsoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HtsoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HtsoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
