﻿@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = Model.StatusMessage;
}

<div class="row">
    <div class="col-xl">
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <span id="tempDataMessage" class="message">@ViewData["Title"]</span>
        </div>
        <div>
            @if (Model.StatusMessage.Contains("Thank you", StringComparison.OrdinalIgnoreCase))
            {
                <p>
                    Please <a asp-page="./Login">click here to log in</a>.
                </p>
            }
            else
            {
                <p><strong>Your email can't be confirmed at this time.</strong></p>
                <p> Please contact the site admin, or try to <a asp-page="./Register">register your account again</a>.</p>
            }
        </div>
    </div>
</div>
