﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    string returnUrl = @Model.ReturnUrl;
}

<div class="row">
    <div class="col-xl">
        @if (!string.IsNullOrEmpty(returnUrl) && returnUrl.Length > 1)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <span id="tempDataMessage" class="message">You need to log in or register before continuing.</span>
            </div>
        }

        <section>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <div class=" form-inline">
                        <label asp-for="Login.UserName"><span><i class="fa fa-inline fa-2x fa-address-card"></i></span></label>
                        <input asp-for="Login.UserName" class="form-control" />
                    </div>
                    <span asp-validation-for="Login.UserName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <div class=" form-inline">
                        <label asp-for="Login.Password"><span><i class="fa fa-inline fa-2x fa-lock"></i></span></label>
                        <input asp-for="Login.Password" class="form-control" />
                    </div>
                    <span asp-validation-for="Login.Password" class="text-danger"></span>
                </div>

                <div class="form-group form-inline form-check-inline">
                    <div class="checkbox">
                        <label asp-for="Login.RememberMe">

                            <input asp-for="Login.RememberMe" />&nbsp;
                            @Html.DisplayNameFor(m => m.Login.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group form-inline">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <div class="form-group form-inline">
                        @*<a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>*@
                        <a id="forgot-password" asp-controller="User" asp-action="ResetPassword" asp-route-returnUrl="@returnUrl">Forgot your password?</a>
                    </div>
                    <div class="form-group form-inline">
                        <a asp-page="./Register" asp-route-returnUrl="@returnUrl">Register as a new user</a>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
