﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h3>Create a new account</h3>
<hr />
<div class="row">
    <div class="col-xl">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Registration.UserName"></label>
                <input asp-for="Registration.UserName" class="form-control" />
                <span asp-validation-for="Registration.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration.Email"></label>
                <input asp-for="Registration.Email" class="form-control" />
                <span asp-validation-for="Registration.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration.Password"></label>
                <input asp-for="Registration.Password" class="form-control" />
                <span asp-validation-for="Registration.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration.ConfirmPassword"></label>
                <input asp-for="Registration.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Registration.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group form-inline">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
