﻿@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<HoldTagSignOff.Models.UserDetail>
@{
    ViewData["Title"] = "Registered Users";
}
<h3>@ViewData["Title"]</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasConfirmedEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOffice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCreator)
            </th>
            <th>
                <a asp-action="Index" asp-route-orderByLocked="@ViewBag.orderByLocked">@Html.DisplayNameFor(model => model.IsLockedOut)</a>
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(_ => item.UserName)
                </td>
                <td>
                    <div><i class="fa fa-2x fa-user"></i></div>
                    @Html.DisplayFor(_ => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(_ => item.HasConfirmedEmail)
                </td>
                <td>
                    @Html.DisplayFor(_ => item.IsAdmin)
                </td>
                <td>
                    @Html.DisplayFor(_ => item.IsOffice)
                </td>
                <th>
                    @Html.DisplayFor(_ => item.IsCreator)
                </th>
                <td>
                    @Html.DisplayFor(_ => item.IsLockedOut)
                </td>
                <td></td>
                <td>
                    <div class="no-wrap">
                        @if (User.IsInRole("admin") && !item.UserName.Equals(User.Identity.Name, StringComparison.OrdinalIgnoreCase))
                        {
                            <a asp-action="ChangeMembership" asp-route-id="@item.Id" asp-route-role="admin">
                                @(item.IsAdmin ? "Remove from" : "Add to") the administer role
                            </a>
                        }
                    </div>
                    <div class="no-wrap">
                        <a asp-action="ChangeMembership" asp-route-id="@item.Id" asp-route-role="office">
                            @(item.IsOffice ? "Remove from" : "Add to") the office role
                        </a>
                    </div>
                    <div class="no-wrap">
                        <a asp-action="ChangeMembership" asp-route-id="@item.Id" asp-route-role="creator">
                            @(item.IsCreator ? "Remove from" : "Add to") the creator role
                        </a>
                    </div>
                    <div class="no-wrap">
                        @if (!item.UserName.Equals(User.Identity.Name, StringComparison.OrdinalIgnoreCase))
                        {
                            <a asp-action="ChangeLockStatus" asp-route-id="@item.Id">
                                @(item.IsLockedOut ? "Unlock" : "Lock ")
                            </a>
                        }
                    </div>
                    <div class="no-wrap">
                        <a asp-action="ResetPassword" asp-route-id="@item.Id" asp-route-returnUrl="/User/Index">
                            Reset @(item.UserName)'s Password
                        </a>
                    </div>
                    <div class="no-wrap">
                        @if (!@item.UserName.Equals(@User.Identity.Name, StringComparison.InvariantCultureIgnoreCase))
                        {

                            <a asp-action="Delete" asp-route-id="@item.Id"> Delete </a>
                        }
                    </div>
                </td>

            </tr>
        }
    </tbody>
</table>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(function () {
            $('main').css('max-width', 'unset');
        });
    </script>
}
