﻿a.navbar-brand {
    white-space: nowrap;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/************************************** Bootstrap overrides ************************************/
.dropdown-menu {
    border: none;
    margin-top: 0;
}

.navbar-nav {
    /* for IE */
    justify-content: space-around;
    /* for real browsers */
    justify-content: space-evenly;
}

.dropdown-menu>.nav-item {
    padding-right: 2em;
}

.dropdown-submenu .nav-item {
    padding-left: 1em;
    padding-right: 2em;
}

.nav-link {
    white-space: nowrap;
}

.alert {
    display: none;
}

.alert-dismissible .close {
    outline: none;
    padding: 0 .5rem 1.25rem 1.75rem
}

.field-validation-error {
    display: block;
    white-space: nowrap;
}

.form-inline {
    flex-flow: nowrap;
    justify-content: center;
}

.form-check-label {
    white-space: nowrap;
}

select.form-control {
    width: auto;
}

input[type=number].form-control,
.form-control.number-input {
    text-align: right;
    max-width: 10rem;
}

.row.box-set {
    justify-content: space-between;
}

.btn-default {
    background-color: #EEE;
    border: solid 1px #ccc;
}

.btn-default:active,
.btn-default:focus,
.btn-default:hover {
    background-color: #cdcdcd;
    border: solid 1px #ccc;
}

@media (min-width: 576px) {

    .form-inline .form-control:not([type=number]),
    .form-inline .form-control:not(.number-input) {
        width: -webkit-fill-available;
    }
}

/************************************** Custom styles ************************************/
body {
    background: url("../img/blur-brass-chrome-close-up-209255.jpg") center fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    margin: 1em auto;
    padding: 2em 2.5em;
    background-color: #EEE;
    box-shadow: 4px 4px 4px #999;
    -moz-border-radius: 10px 10px;
    -webkit-border-radius: 10px 10px;
    border-radius: 10px 10px;
    min-width: 40%;
    width: 100%;
    max-width: 100%;
    width: -moz-max-content;
    width: -webkit-max-content;
}

footer {
    background-color: #FFF;
}

hr {
    margin-top: 0;
}

label {
    white-space: nowrap;
}

fieldset {
    margin: 0 0 1rem;
    border: 1px solid #999;
    box-shadow: 2px 2px 2px #CCC;
}

legend {
    padding: 0 .75rem;
}

.list-input-prompt {
    display: none;
    font-weight:bold;
    font-size: 80%;
}

#frmEditTag input:not([type=submit]),
#frmEditTag textarea {
    background-color: #fffacc;
}

.no-wrap {
    white-space: nowrap;
}

.justified {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.justified a {
    text-decoration: none;
    padding: 0;
    margin: 0 .5em 0;
}

.grid-layout {
    display: grid;
    margin: 0 auto;
    grid-gap: 1em;
    grid-template-columns: 40% 60%;
}

.panel-left {
    grid-column: 1;
    grid-row: 1/2;
}

.panel-right {
    grid-column: 2;
    grid-row: 1/2;
}

.panel-right-bottom {
    grid-column: 2;
    grid-row: 2/3;
}
td.rpt-data,
td.rpt-data {
    padding-top: 0;
    padding-bottom: 0;
    border: none;
}
/* normalize Font Awesome glyphs */
.fa {
    width: 1em;
    text-align: center;
}

.fa-inline {
    margin-right: .5em;
}

@media only screen and (max-width: 550px) {
    footer {
        font-size: 0.5em;
    }

    .justified img {
        height: 24px;
    }

    .flex-sm-row-reverse {
        flex-direction: row !important;
    }

    .d-flex {
        flex-direction: column !important;
    }
}

@media only screen and (max-width: 350px) {
    .justified {
        flex-direction: column;
        justify-content: center;
    }

    .justified span {
        margin: 0 auto;
    }
}

/************************************** Print-friendly styles ************************************/
.tag-report {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 4px solid black;
    background-color: #FFF;
}

.table.report th,
.table.report td {
    border: 0;
}

.table.report th.cell,
.table.report td.cell {
    border: 1px solid #000;
}
.table.report td {
    padding: .5rem .75rem;
}

.table.report tfoot td {
    font-size: 85%;
    border: 0;
    padding: 0;
}

.tag-title {
    font-family: serif;
    font-size: 120%;
    padding: 0 .75em;
}

.tag-title-center {
    display: block;
    text-align: center
}

.tag-title-banner {
    display: block;
    color: #FFF;
    text-align: right;
    border:0;
}

.qa-ext-tag-title {
    display: block;
    color: #FFF;
    text-align: left;
    border: 0;
}

.tpc-tag-title-inset {
    display: block;
    text-align: left;
    font-size: 40%;
}

th.tpc-heading,
td.tpc-heading,
em.tpc-heading {
    text-align: center;
}
.qa-ext-tag-title-inset {
    display: block;
    float:left;
    width:100px;
}

.tpc-tag-title-info {
    font-size: 2em;
    width: 100%;
}

.field-label {
    text-align: right;
    font-style: oblique;

}

@media print {
    html {
        font-size: 90%;
        font-family: "Times New Roman", Times, serif;
        color: #000;
    }

    body {
        background-image: none;
    }
    a,
    ul li a {
        color: #EEE;
        text-decoration: none;
    }

    header,
    footer,
    .btn {
        display: none;
    }

    .tag-report {
        border: 0;
    }

    .tag-title.tag-title-banner {
        box-shadow: inset 0 0 0 1000px #000;
        color:#FFF;
    }
}