﻿@model HoldTagSignOff.Models.TblQualityIssues

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TblQualityIssues</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProblemType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProblemType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PartId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PartId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IssuedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IssuedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpertionHd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpertionHd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpertionTp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpertionTp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpertionSp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpertionSp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpertionQa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpertionQa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReasonNote)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReasonNote)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feature)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feature)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Changed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Changed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialInst)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SpecialInst)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QualityAlert)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QualityAlert)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QualityAlertMemo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QualityAlertMemo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NofPiecesQa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NofPiecesQa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NofPiecesHt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NofPiecesHt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MachineId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MachineId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerRefNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerRefNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateIssued)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateIssued)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DispositionCustomer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DispositionCustomer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DispositionStackpole)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DispositionStackpole)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LengthOfChange)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LengthOfChange)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OkdBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OkdBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModWritten)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModWritten)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialInstWritten)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SpecialInstWritten)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoldTag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoldTag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TpcTag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TpcTag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CertTag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CertTag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QualityAtag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QualityAtag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Closed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Closed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierIssue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupplierIssue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ControlPlan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ControlPlan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LayeredAudit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LayeredAudit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QualityMemo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QualityMemo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FeatureNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FeatureNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentMinSpec)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentMinSpec)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentMaxSpec)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentMaxSpec)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TpcMinSpec)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TpcMinSpec)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TpcMaxSpec)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TpcMaxSpec)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OperationNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OperationNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Operation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Operation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Picture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Picture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Picture01)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Picture01)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Picture02)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Picture02)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attachments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attachments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Qty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Qty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActiveStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActiveStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
