﻿@model HoldTagSignOff.Models.TblQualityIssues

@{
    ViewData["Title"] = "Tag Reprinting";
}

<h2>@ViewData["Title"]</h2>

<hr />

<div class="row">
    <div class="col-sm-2">
        <form asp-action="Print" asp-route-copies="1" method="GET">
            <div class="d-flex flex-row">
                <div class="form-inline">
                    <select asp-for="Id" class="form-control" asp-items="@ViewBag.Tags"></select>
                    <div class="d-flex flex-row">
                        &nbsp;&nbsp;<input type="submit" value="Print" class="btn btn-primary" />
                    </div>
                </div>

            </div>
        </form>
    </div>

</div>