﻿@using HoldTagSignOff.Models
@model TagReport

@{
    ViewData["Title"] = $"{Model.LongId} | Print View";
    string location = Context.Request.Path.Value;

    // prevent circular redirects
    string returnUrl = (!string.IsNullOrEmpty(ViewBag.ReturnURL)
                        && !ViewBag.ReturnURL.ToLower().Contains("print"))
                    ? ViewBag.ReturnURL
                    : "/QualityIssues";
}

@{
    switch (Model.Template)
    {
        case TagTemplate.QualityAlertInternal:
            <partial name="~/Views/Tags/Print/_SpecialInstruction.cshtml" model="Model" />
            break;
        case TagTemplate.QualityAlertExternal:
            <partial name="~/Views/Tags/Print/_SpecialInstruction.cshtml" model="Model" />
            break;
        case TagTemplate.Hold:
            <partial name="~/Views/Tags/Print/_HoldTag.cshtml" model="Model" />
            break;
        case TagTemplate.TPC:
            <partial name="~/Views/Tags/Print/_TemporaryProcessChange.cshtml" model="Model" />
            break;
        case TagTemplate.Special:
            <partial name="~/Views/Tags/Print/_SpecialInstruction.cshtml" model="Model" />
            break;
        default:
            <partial name="~/Views/Tags/Print/_SpecialInstruction.cshtml" model="Model" />
            break;
    }
}

<div class="form-inline">
    <button class="btn btn-primary" onclick="printTag()">Print</button>&nbsp;&nbsp;
    <a class="btn btn-info no-wrap" asp-action="Edit" asp-route-id="@Model.Id">Edit Details</a>&nbsp;&nbsp;
    <a class="btn btn-info no-wrap" href="@returnUrl">Back to List</a>
</div>

@section Scripts {
    <script>
        $(function () {
            $('main').addClass('tag-report');
        });
        const printTag = function () {
            alert("Put the correct colour of paper in the printer.");
            window.print();
        };
    </script>
}