﻿@model HoldTagSignOff.Models.OpenHoldTag
@{
    ViewData["Title"] = "SignOffHoldTag";
    string returnUrl = ViewBag?.ReturnURL ?? "/QualityTags";
}
<form id="frmSignOffHoldTag" asp-action="SignOffHoldTag" method="post">
    <!-- provide this for our AJAX handler b/c the POST method trigger's model validation -->
    <input id="tagLengthOfChange" name="tagLengthOfChange" type="hidden" value="@ViewBag.SelectedTag?.LengthOfChange" />
    <div class="input-group">
        <div class="form-group">
            <label asp-for="TagNumber" class="control-label">Open Tags</label>
            <input class="form-control" list="openTagList" placeholder="Please select . . . " value="@Model.TagNumber" />
            <datalist id="openTagList">
                @foreach (var tag in ViewBag?.OpenHoldTags)
                {
                    <option data-value="@tag.Id" value="@tag.Id" />
                }
            </datalist>
            @Html.HiddenFor(m => m.TagNumber)
            <span class="text-info list-input-prompt">Click to see options</span>
            <span asp-validation-for="TagNumber" class="text-danger"></span>
        </div>&nbsp;&nbsp;

        <div class="form-group">
            <label asp-for="DateClosed" class="control-label"></label>
            <input class="form-control" asp-for="DateClosed" />
            <span asp-validation-for="DateClosed" class="text-danger"></span>
        </div>

    </div>
    <div>
        <table class="table report no-wrap" style="border:3px solid #DDD;color:#EEE;background-color:#4088ED">
            <tbody>
                <tr>
                    <td class="cell" rowspan="2"><strong>Disposition</strong></td>
                    <td class="cell" rowspan="2" style="border-bottom:0"><strong>Sort</strong></td>
                    <td class="cell" rowspan="2" style="border-bottom:0"><strong>Rework</strong></td>
                    <td class="cell" rowspan="2" style="border-bottom:0"><strong>Scrap</strong></td>
                    <td class="cell" rowspan="2" style="border-bottom:0"><strong>Released</strong></td>
                    <td class="cell" rowspan="2" style="border-bottom:0;text-align:center"><strong>OK To Process / Part Meets Spec.</strong></td>
                </tr>
                <tr></tr>
                <tr>
                    <td class="cell"><strong>Amount:</strong></td>
                    <td class="cell"><input class="form-control number-input" asp-for="SortAmt" /><span asp-validation-for="SortAmt" class="text-warning"></span></td>
                    <td class="cell"><input class="form-control number-input" asp-for="ReworkAmt" /><span asp-validation-for="ReworkAmt" class="text-warning"></span></td>
                    <td class="cell"><input class="form-control number-input" asp-for="ScrapAmt" /> <span asp-validation-for="ScrapAmt" class="text-warning"></span></td>
                    <td class="cell"><input class="form-control number-input" asp-for="UseAsIsAmt" /><span asp-validation-for="UseAsIsAmt" class="text-warning"></span></td>
                    <td class="cell" style="border-top:0;border-bottom:0">Total:&nbsp;&nbsp;<span id="holdTagTotalAmt"><strong>0</strong></span></td>
                </tr>
                <tr>
                    <td class="cell"><strong>By:</strong></td>
                    <td class="cell"><input class="form-control" asp-for="SortBy" /><span asp-validation-for="SortBy" class="text-danger"></span></td>
                    <td class="cell"><input class="form-control" asp-for="ReworkBy" /><span asp-validation-for="ReworkBy" class="text-danger"></span></td>
                    <td class="cell"><input class="form-control" asp-for="ScrapBy" /><span asp-validation-for="ScrapBy" class="text-danger"></span></td>
                    <td class="cell"><input class="form-control" asp-for="UseAsIsBy" /><span asp-validation-for="UseAsIsBy" class="text-danger"></span></td>
                    <td class="form-group form-inline" style="border-top:0;border-bottom:0">
                        <strong>By:</strong>&nbsp;&nbsp;
                        <input class="form-control" asp-for="OkToProcessBy" /><span asp-validation-for="OkToProcessBy" class="text-danger"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group form-inline">
        <span>Amount that still needs to be Dispositioned:&nbsp;&nbsp;</span><span id="totalToDisposition"><strong>0</strong></span>
    </div>
    <div style="background-color:#ffd800;text-align:center">
        If parts are RELEASED then information shall be entered in the <strong>Comment</strong> field below stating why the parts part OK
    </div>
    <table class="table report no-wrap" style="border:3px solid #DDD">
        <thead>
            <tr style="border-top: 1px solid black">
                <th colspan="6">
                    <h1><span class="tag-title tag-title-banner" style="background-color:#000"><span id=holdTagPartId>@ViewBag.SelectedTag?.PartId</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ON HOLD</span></h1>
                </th>
            </tr>
            <tr>
                <th class="cell">Date</th>
                <th class="cell">Process</th>
                <th class="cell">By</th>
                <th class="cell">Quantity</th>
                <th class="cell">Reason</th>
                <th rowspan="2" class="cell" style="border-bottom:0"><span id="tagLongId" style="background-color:#DDD">@ViewBag.SelectedTag?.LongId</span></th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="tagDate" class="cell">@ViewBag.SelectedTag?.Date</td>
                <td id="tagProcess" class="cell">@ViewBag.SelectedTag?.Operation</td>
                <td id="tagIssuer" class="cell">@ViewBag.SelectedTag?.IssuedBy</td>
                <td class="cell"><input class="form-control number-input" asp-for="Qty" /><span asp-validation-for="Qty" class="text-danger"></span></td>
                <td id="tagReason" class="cell" style="border-top:0">@ViewBag.SelectedTag?.Reason</td>
                <td class="cell" style="border-top:0"></td>
            </tr>
            <tr>
                <td colspan="3"><strong>Reason Note</strong></td>
                @*<td colspan="3"></td>*@
            </tr>
            <tr>
                <td id="tagBody" colspan="3"><em>@ViewBag.SelectedTag?.Body</em></td>
                <td colspan="3" rowspan="3" style="background-color:#DDD" width="300px" height="300px">
                    <!-- TODO: query attached photos and display them here -->
                </td>
            </tr>
            <tr>
                <td colspan="3"><strong>Comment</strong></td>
            </tr>
            <tr>
                <td colspan="3"><textarea asp-for="Comment" class="form-control">@ViewBag.SelectedTag?.Comment</textarea></td>
            </tr>
        </tbody>
    </table>
    <div class="form-inline">
        <input type="submit" value="Close Tag" class="btn btn-primary" />&nbsp;&nbsp;
        <a href="@returnUrl" class="btn btn-info">Cancel</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(function () {
            FormAPI.initSignOffHoldTagForm();
            $('main').css('max-width', '100%');
        });
    </script>
}