﻿@model HoldTagSignOff.Models.TblQualityIssues

<div class="panel-left">
    <div class="d-flex flex-column">
        <div class="form-group">
            <label asp-for="CustomerId" class="control-label"></label>
            <input class="form-control" list="customerList" placeholder="Please select . . . " value="@Model.CustomerId" />
            <datalist id="customerList">
                @foreach (var cust in ViewContext.ViewBag.CustomerList)
                {
                    <option data-value="@cust.CustomerId" value="@cust.CustName" />
                }
            </datalist>
            @Html.HiddenFor(m => m.CustomerId)
            <span class="text-info list-input-prompt">Click to see options</span>
            <span asp-validation-for="CustomerId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PartId" class="control-label"></label>
            <input class="form-control" list="partList" placeholder="Please select . . . " value="@Model.PartId" />
            <datalist id="partList">
                <!-- populated by background AJAX request-->
            </datalist>
            @Html.HiddenFor(m => m.PartId)
            <span class="text-info list-input-prompt">Click to see options</span>
            <span asp-validation-for="PartId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Reason" class="control-label"></label>
            <input class="form-control" list="reasonList" placeholder="Please select . . . " value="@Model.Reason" />
            <datalist id="reasonList">
                @foreach (var reason in ViewContext.ViewBag.ReasonList)
                {
                    <option data-value="@reason.Reason" value="@reason.Reason" />
                }
            </datalist>
            @Html.HiddenFor(m => m.Reason)
            <span class="text-info list-input-prompt">Click to see options</span>
            <span asp-validation-for="Reason" class="text-danger"></span>
        </div>
        <div class="form-group collapse hold-tag-field tpc-tag-field special-tag-field">
            <label asp-for="MachineId" class="control-label"></label>
            <input class="form-control" list="machineList" placeholder="Please select . . . " value="@Model.MachineId" />
            <datalist id="machineList">
                @foreach (var machine in ViewContext.ViewBag.MachineList)
                {
                    <option data-value="@machine.MachineId" value="@machine.MachineId" />
                }
            </datalist>
            @Html.HiddenFor(m => m.MachineId)
            <span class="text-info list-input-prompt">Click to see options</span>
            <span asp-validation-for="MachineId" class="text-danger"></span>
        </div>
        <div class="form-group collapse hold-tag-field tpc-tag-field special-tag-field">
            <label asp-for="Operation" class="control-label"></label>
            <input class="form-control" list="processList" placeholder="Please select . . . " value="@Model.Operation" />
            <datalist id="processList">
                @foreach (var step in ViewContext.ViewBag.ProcessList)
                {
                    <option data-value="@step.Department" value="@step.Department" />
                }
            </datalist>
            @Html.HiddenFor(m => m.Operation)
            <span class="text-info list-input-prompt">Click to see options</span>
            <span asp-validation-for="Operation" class="text-danger"></span>
        </div>
    </div>
    <div class="d-flex flex-column">
        <div class="d-flex flex-column">
            <div class="form-group">
                <label asp-for="IssuedBy" class="control-label"></label>
                <input asp-for="IssuedBy" class="form-control" />
                <span asp-validation-for="IssuedBy" class="text-danger"></span>
            </div>
            <!-- only show when TPC or SpecialInstWritten is checked -->
            <div class="form-group collapse tpc-tag-field special-tag-field">
                <label asp-for="OkdBy" class="control-label"></label>
                <input asp-for="OkdBy" class="form-control" />
                <span asp-validation-for="OkdBy" class="text-danger"></span>
            </div>
        </div>
        <!-- only show when Quality Alert is checked -->
        <div class="form-group qa-tag-field">
            <label asp-for="DateIssued" class="control-label"></label>
            <input asp-for="DateIssued" class="form-control" />
            <span asp-validation-for="DateIssued" class="text-danger"></span>
        </div>
        <!-- CAREFUL: elements of class `d-flex` qualify the display prop with `!important`, i.e.,
            they can't be hidden; make the children collapsible instead -->
        <div class="d-flex flex-column">
            <!-- only show when TPC or SpecialInstWritten is checked -->
            <div class="form-group collapse tpc-tag-field special-tag-field">
                <label asp-for="LengthOfChange" class="control-label"></label>
                <span class="form-inline">
                    <input asp-for="LengthOfChange" class="form-control number-input" style="width: 4rem;" maxlength="4" />&nbsp;days&nbsp;&nbsp;
                </span>
                <span asp-validation-for="LengthOfChange" class="text-danger"></span>
            </div>
            <!-- only show when TPC or SpecialInstWritten is checked -->
            <div class="form-group collapse tpc-tag-field special-tag-field">
                <label asp-for="ExpiresOn" class="control-label"></label>
                <span id="ExpiresOn" class="no-wrap"><strong>@Model.ExpiresOn.ToString("MMMM d, yyyy")</strong></span>
            </div>
        </div>
    </div>
</div>

<div class="panel-right">
    <fieldset class="tagSummary">
        <legend class="text-black-50">Tag Summary</legend>
        <div class="form-group form-check" data-target=".qa-tag-field">
            <label class="form-check-label">
                @Html.EditorFor(model => model.QualityAtag, new { @checked = "checked" })&nbsp;@Html.DisplayNameFor(model => model.QualityAtag)
            </label>
            <span asp-validation-for="QualityAtag" class="text-danger"></span>
        </div>
        <div class="form-group form-check" data-target=".hold-tag-field">
            <label class="form-check-label">
                @Html.EditorFor(model => model.HoldTag)&nbsp;@Html.DisplayNameFor(model => model.HoldTag)
            </label>
            <span asp-validation-for="HoldTag" class="text-danger"></span>
        </div>
        <div class="form-group form-check" data-target=".tpc-tag-field">
            <label class="form-check-label">
                @Html.EditorFor(model => model.TpcTag)&nbsp;@Html.DisplayNameFor(model => model.TpcTag)
            </label>
            <span asp-validation-for="TpcTag" class="text-danger"></span>
        </div>
        <div class="form-group form-check" data-target=".special-tag-field">
            <label class="form-check-label">
                @Html.EditorFor(model => model.SpecialInstWritten)&nbsp;@Html.DisplayNameFor(model => model.SpecialInstWritten)
            </label>
            <span asp-validation-for="SpecialInstWritten" class="text-danger"></span>
        </div>

    </fieldset>
    <div class="d-flex flex-column">
        <div class="form-group form-check">
            <label class="form-check-label">
                @Html.EditorFor(model => model.SupplierIssue)&nbsp;@Html.DisplayNameFor(model => model.SupplierIssue)
                <span asp-validation-for="SupplierIssue" class="text-danger"></span>
            </label>
        </div>
        <!-- only show when TPC Tag is checked -->
        <div class="form-group form-check collapse tpc-tag-field">
            <label class="form-check-label">
                @Html.EditorFor(model => model.ModWritten)&nbsp;@Html.DisplayNameFor(model => model.ModWritten)
                <span asp-validation-for="ModWritten" class="text-danger"></span>
            </label>
        </div>
        <!-- only show when Quality Tag is checked -->
        <div class="qa-tag-field">
            <div class="form-group form-check">
                <label class="form-check-label">
                    @Html.EditorFor(model => model.ControlPlan)&nbsp;@Html.DisplayNameFor(model => model.ControlPlan)
                    <span asp-validation-for="ControlPlan" class="text-danger"></span>
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    @Html.EditorFor(model => model.LayeredAudit)&nbsp;@Html.DisplayNameFor(model => model.LayeredAudit)
                    <span asp-validation-for="LayeredAudit" class="text-danger"></span>
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    @Html.EditorFor(model => model.CertTag)&nbsp;@Html.DisplayNameFor(model => model.CertTag)
                    <span asp-validation-for="CertTag" class="text-danger"></span>
                </label>
            </div>
        </div>
    </div>
    <!-- same note as above -->
    <div class="d-flex">
        <!-- only show when Quality Tag is checked -->
        <div class="form-group qa-tag-field">
            <label asp-for="Cost" class="control-label"></label>
            <input asp-for="Cost" class="form-control number-input" placeholder="$0.00" />
            <span asp-validation-for="Cost" class="text-danger"></span>
        </div>
        <!-- only show when Quality Tag is checked -->
        <div class="form-group qa-tag-field">
            <label asp-for="NofPiecesQa" class="control-label"></label>
            <input asp-for="NofPiecesQa" class="form-control" />
            <span asp-validation-for="NofPiecesQa" class="text-danger"></span>
        </div>
        <!-- only show when Hold Tag is checked -->
        <div class="collapse hold-tag-field">
            <div class="form-group">
                <label asp-for="Qty" class="control-label"></label>
                <input asp-for="Qty" class="form-control number-input" />
                <span asp-validation-for="Qty" class="text-danger"></span>
            </div>
        </div>
    </div>
    <!-- same note as above -->
    <div class="d-flex flex-column">
        <!-- only show when Quality Tag is checked -->
        <div class="form-group qa-tag-field">
            <label asp-for="DispositionCustomer" class="control-label"></label>
            <input class="form-control" list="custDispositionList" placeholder="Please select . . . " value="@Model.DispositionCustomer" />
            <datalist id="custDispositionList">
                @foreach (var custDisposition in ViewContext.ViewBag.CustomerDispositions)
                {
                    <option data-value="@custDisposition.Disposition" value="@custDisposition.Disposition" />
                }
            </datalist>
            @Html.HiddenFor(m => m.DispositionCustomer)
            <span class="text-info list-input-prompt">Click to see options</span>
            <span asp-validation-for="DispositionCustomer" class="text-danger"></span>
        </div>
        <!-- only show when Quality Tag is checked -->
        <div class="form-group qa-tag-field">
            <label asp-for="DispositionStackpole" class="control-label"></label>
            <input class="form-control" list="ourDispositionList" placeholder="Please select . . . " value="@Model.DispositionStackpole" />
            <datalist id="ourDispositionList">
                @foreach (var machine in ViewContext.ViewBag.StackpoleDispositions)
                {
                    <option data-value="@machine.Disposition" value="@machine.Disposition" />
                }
            </datalist>
            @Html.HiddenFor(m => m.DispositionStackpole)
            <span class="text-info list-input-prompt">Click to see options</span>
            <span asp-validation-for="MachineId" class="text-danger"></span>
        </div>
    </div>
    <!-- only show when TPC or SpecialInstWritten is checked -->
    <div class="form-group collapse tpc-tag-field special-tag-field">
        <label asp-for="Feature" class="control-label"></label>
        <textarea asp-for="Feature" class="form-control"></textarea>
        <span asp-validation-for="Feature" class="text-danger"></span>
    </div>
    <!-- only show when Quality Tag is checked -->
    <div class="form-group qa-tag-field">
        <label asp-for="CustomerRefNum" class="control-label"></label>
        <textarea asp-for="CustomerRefNum" class="form-control" rows="1"></textarea>
        <span asp-validation-for="CustomerRefNum" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label" id="lblBody">Additional Information</label>
        <textarea asp-for="Body" class="form-control"></textarea>
        <span asp-validation-for="Body" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Comment" class="control-label"></label>
        <textarea asp-for="Comment" class="form-control" rows="2"></textarea>
        <span asp-validation-for="Comment" class="text-danger"></span>
    </div>
</div>