@model HoldTagSignOff.Models.TagReport
@{
    ViewData["Title"] = $"{Model.LongId}";
}
@Html.HiddenFor(_ => Model.LengthOfChange)

<table class="table report no-wrap">
    <thead>
        <tr style="border-top: 1px solid black">
            <th colspan="5">
                @Html.Raw(@Model.Title.Value)
            </th>
        </tr>

        <tr>
            <th class="cell">Date</th>
            <th class="cell">Process</th>
            <th class="cell">By</th>
            <th class="cell">Quantity</th>
            <th class="cell" style="border-bottom:0">Reason</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td class="cell">@Html.EditorFor(_ => Model.Date)</td>
            <td class="cell">
                <div class="form-group">
                    <input class="form-control" list="processList" placeholder="Please select . . . " value="@Model.Operation" />
                    <datalist id="processList">
                        @foreach (var step in ViewContext.ViewBag.ProcessList)
                        {
                            <option data-value="@step.Department" value="@step.Department" />
                        }
                    </datalist>
                    @Html.HiddenFor(m => m.Operation)
                    <span class="text-info list-input-prompt">Click to see options</span>
                    <span asp-validation-for="Operation" class="text-danger"></span>
                </div>
            </td>
            <td class="cell">@Html.EditorFor(_ => Model.IssuedBy)</td>
            <td class="cell"><input asp-for="Qty" /></td>
            <td class="cell" style="border-top:0">
                <div class="form-group">
                    <input class="form-control" list="reasonList" placeholder="Please select . . . " value="@Model.Reason" />
                    <datalist id="reasonList">
                        @foreach (var reason in ViewContext.ViewBag.ReasonList)
                        {
                            <option data-value="@reason.Reason" value="@reason.Reason" />
                        }
                    </datalist>
                    @Html.HiddenFor(m => m.Reason)
                    <span class="text-info list-input-prompt">Click to see options</span>
                    <span asp-validation-for="Reason" class="text-danger"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="form-group">
                <div><strong>Reason Note</strong></div>
                <textarea class="form-control" asp-for="Body"></textarea>
            </td>
            <td>
                <div class="form-group">
                    <div><strong>@Html.DisplayNameFor(_ => Model.PartId)</strong></div>
                    <input class="form-control" list="partList" placeholder="Please select . . . " value="@Model.PartId" />
                    <datalist id="partList">
                        @foreach (var part in ViewContext.ViewBag.PartList)
                        {
                            <option data-value="@part.PartId" value="@part.PartId" />
                        }
                    </datalist>
                    @Html.HiddenFor(m => m.PartId)
                    <span class="text-info list-input-prompt">Click to see options</span>
                    <span asp-validation-for="PartId" class="text-danger"></span>
                </div>
            </td>
            <td>
                <strong>Machine&nbsp;</strong>
                <div class="form-group">
                    <input class="form-control" list="machineList" placeholder="Please select . . . " value="@Model.MachineId" />
                    <datalist id="machineList">
                        @foreach (var machine in ViewContext.ViewBag.MachineList)
                        {
                            <option data-value="@machine.MachineId" value="@machine.MachineId" />
                        }
                    </datalist>
                    @Html.HiddenFor(m => m.MachineId)
                    <span class="text-info list-input-prompt">Click to see options</span>
                    <span asp-validation-for="MachineId" class="text-danger"></span>
                </div>

            </td>
            <td colspan="2">@Html.EditorFor(_ => Model.SupplierIssue)&nbsp;@Html.DisplayNameFor(_ => Model.SupplierIssue)</td>

        </tr>
        <tr>
        </tr>
        <tr>
            <td colspan="3"><strong>Comment</strong></td>
        </tr>
        <tr>
            <td colspan="3"><textarea clas="form-control" asp-for="Comment"></textarea></td>
        </tr>

        <tr><td colspan="5"><hr style="border: 3px solid #DDD" /></td></tr>


    </tbody>
</table>

<div style="text-align:center">
    <div style="text-align:left"><em>Updated: @System.DateTime.Now.ToString("dd-MMM-yy")</em></div>
    <br />
</div>
