﻿@model HoldTagSignOff.Models.TagReport
@{
    ViewData["Title"] = $"{Model.LongId}";
    int duration = Convert.ToInt32(Model.LengthOfChange);
    string days = duration > 1 ? "Days" : "Day";
}

<table class="table report">
    <thead>
        <tr style="border-top: 1px solid black">
            <th colspan="4">
                @Html.Raw(@Model.Title.Value)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="field-label">
                @Html.DisplayNameFor(m => m.Date):
            </td>
            <td>
                @Html.DisplayFor(m => m.Date)
            </td>
            <td class="field-label">
                ID Number:
            </td>
            <td>
                @Html.DisplayFor(m => m.LongId)
            </td>
        </tr>
        <tr style="border-top: 1px solid black">
            <td class="field-label">
                @Html.DisplayNameFor(m => m.PartId):
            </td>
            <td>
                <div class="form-group">
                    <input class="form-control" list="partList" placeholder="Please select . . . " value="@Model.PartId" />
                    <datalist id="partList">
                        @foreach (var part in ViewContext.ViewBag.PartList)
                        {
                            <option data-value="@part.PartId" value="@part.PartId" />
                        }
                    </datalist>
                    @Html.HiddenFor(m => m.PartId)
                    <span class="text-info list-input-prompt">Click to see options</span>
                    <span asp-validation-for="PartId" class="text-danger"></span>
                </div>
            </td>
            <td class="field-label">
                @Html.DisplayNameFor(m => m.MachineId):
            </td>
            <td>
                <div class="form-group">
                    <input class="form-control" list="machineList" placeholder="Please select . . . " value="@Model.MachineId" />
                    <datalist id="machineList">
                        @foreach (var machine in ViewContext.ViewBag.MachineList)
                        {
                            <option data-value="@machine.MachineId" value="@machine.MachineId" />
                        }
                    </datalist>
                    @Html.HiddenFor(m => m.MachineId)
                    <span class="text-info list-input-prompt">Click to see options</span>
                    <span asp-validation-for="MachineId" class="text-danger"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="field-label">
                Current Process Step:
            </td>
            <td>
                <div class="form-group">
                    <input class="form-control" list="processList" placeholder="Please select . . . " value="@Model.Operation" />
                    <datalist id="processList">
                        @foreach (var step in ViewContext.ViewBag.ProcessList)
                        {
                            <option data-value="@step.Department" value="@step.Department" />
                        }
                    </datalist>
                    @Html.HiddenFor(m => m.Operation)
                    <span class="text-info list-input-prompt">Click to see options</span>
                    <span asp-validation-for="Operation" class="text-danger"></span>
                </div>
            </td>
            <td class="field-label">
                @Html.DisplayNameFor(m => m.IssuedBy):
            </td>
            <td>
                <div class="form-group">
                    <input asp-for="IssuedBy" class="form-control" />
                    <span asp-validation-for="IssuedBy" class="text-danger"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="field-label">
                @Html.DisplayNameFor(m => m.Reason):
            </td>
            <td>
                <div class="form-group">
                    <input class="form-control" list="reasonList" placeholder="Please select . . . " value="@Model.Reason" />
                    <datalist id="reasonList">
                        @foreach (var reason in ViewContext.ViewBag.ReasonList)
                        {
                            <option data-value="@reason.Reason" value="@reason.Reason" />
                        }
                    </datalist>
                    @Html.HiddenFor(m => m.Reason)
                    <span class="text-info list-input-prompt">Click to see options</span>
                    <span asp-validation-for="Reason" class="text-danger"></span>
                </div>
            </td>
            <td class="field-label">
                @Html.DisplayNameFor(m => m.OkdBy):
            </td>
            <td>
                <div class="form-group">
                    <input asp-for="OkdBy" class="form-control" />
                    <span asp-validation-for="OkdBy" class="text-danger"></span>
                </div>
            </td>
        </tr>
        <tr style="border-top: 1px solid black">
            <td class="field-label">
                @Html.DisplayNameFor(m => m.Feature):
            </td>
            <td>
                <div class="form-group">
                    <textarea asp-for="Feature" class="form-control"></textarea>
                    <span asp-validation-for="Feature" class="text-danger"></span>
                </div>
            </td>
            <td class="field-label">
                @Html.DisplayNameFor(m => m.SupplierIssue)
            </td>
            <td>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        @Html.EditorFor(model => model.SupplierIssue)
                        <span asp-validation-for="SupplierIssue" class="text-danger"></span>
                    </label>
                </div>
            </td>
        </tr>
        <tr><td colspan="4"></td></tr>
        <tr>
            <td colspan="4" style="background-color:#CCC;text-align:center">
                <div class="form-group">
                    <label asp-for="LengthOfChange" class="control-label"></label>
                    <span class="form-inline">
                        <input asp-for="LengthOfChange" class="form-control" maxlength="4" style="text-align:right;width:auto" />&nbsp;days&nbsp;&nbsp;
                    </span>
                    <span asp-validation-for="LengthOfChange" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExpiresOn" class="control-label"></label>
                    <span id="ExpiresOn" class="no-wrap"><strong>@Model.ExpiresOn.ToString("MMMM d, yyyy")</strong></span>
                </div>
            </td>
        </tr>
        <tr><td colspan="4"></td></tr>
        <tr>
            <td class="field-label">
                Special Instructions:
            </td>
            <td colspan="3">
                @Html.DisplayFor(m => m.Body)
            </td>

        </tr>
        <tr style="border-top: 1px solid black">
            <td colspan="4">
                <ul style="display:flex;justify-content:space-around;padding:0">
                    @foreach (Tuple<string, string> data in @ViewContext.ViewBag.PictureData)
                    {
                        (string Uri, string Name) picture = data.ToValueTuple();

                        <text>
                            <li style="margin: 1em 0;list-style:none">
                                <img src="~/storage/@picture.Uri" alt="Attached Picture" width="400" />
                                <div>
                                    <a href="~/storage/@picture.Uri">@picture.Name</a>
                                </div>
                            </li>

                        </text>
                    }
                </ul>
            </td>
        </tr>
        <tr style="border-top: 2px solid black">
            <td colspan="4">
                <em>@Html.DisplayNameFor(m => m.Attachments)</em>:
                <ul style="list-style:circle;padding:0">
                    @foreach (Tuple<string, string> data in @ViewContext.ViewBag.AttachmentList)
                    {
                        (string Uri, string Name) file = data.ToValueTuple();

                        <text>
                            <li style="margin:1em 0;list-style:none">
                                <a href="~/storage/@file.Uri">@file.Name</a>
                            </li>
                        </text>
                    }
                </ul>
            </td>
        </tr>

    </tbody>

    <tfoot style="border-top: 2px solid black">
        <tr>
            <td colspan="4" style="text-align:center">These instructions are intended for temporary use only.</td>
        </tr>
        <tr>
            <td colspan="4" style="text-align:center">MUST be removed when the work is completed!!</td>
        </tr>
        <tr>
            <td colspan="4" style="text-align:center">After <span id="newDuration">@duration</span>&nbsp;<span id="newDays">@days.ToLower()</span> this must be evaluated by Quality Engineer.</td>

        </tr>
        <tr>
            <td colspan="4" style="text-align:center">If Expired Notify Supervisor - Do Not Remove</td>
        </tr>
        <tr>
            <td colspan="4" style="text-align:left"><em>Printed: @System.DateTime.Now.ToString("dd-MMM-yy")</em></td>
        </tr>
    </tfoot>
</table>

