﻿@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h4>@ViewData["Title"]</h4>
@if (!string.IsNullOrEmpty(Model.StatusMessage))
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <span id="tempDataMessage" class="message">@Model.StatusMessage</span>
    </div>
}
<div>
    <hr />

    <div class="row">
        <div class="col-xl">
            <partial name="_ManageNav" />
        </div>
        <div class="col-xl">
            <form id="change-password-form" method="post">
                @*<div asp-validation-summary="All" class="text-danger"></div>*@
                @*<div class="form-group">
                        <label asp-for="passwordChange.Email"></label>
                        <input asp-for="passwordChange.Email" class="form-control" />
                        <span asp-validation-for="passwordChange.Email" class="text-danger"></span>
                    </div>*@
                <div class="form-group">
                    <label asp-for="passwordChange.Email"></label>
                    <input asp-for="passwordChange.Email" class="form-control" />
                    <span asp-validation-for="passwordChange.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="passwordChange.NewPassword"></label>
                    <input asp-for="passwordChange.NewPassword" class="form-control" />
                    <span asp-validation-for="passwordChange.NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="passwordChange.ConfirmNewPassword"></label>
                    <input asp-for="passwordChange.ConfirmNewPassword" class="form-control" />
                    <span asp-validation-for="passwordChange.ConfirmNewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Update password</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $('main').css('min-width', '60%');
    </script>
    <partial name="_ValidationScriptsPartial" />
}