﻿@page
@model EmailModel
@{
    ViewData["Title"] = "Change Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
    Model.emailUpdate.NewEmail = string.Empty;
}

<h4>@ViewData["Title"]</h4>
@if (!string.IsNullOrEmpty(Model.StatusMessage))
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <span id="tempDataMessage" class="message">@Model.StatusMessage</span>
    </div>
}
<div>
    <hr />
    <div class="row">
        <div class="col-xl">
            <partial name="_ManageNav" />
        </div>
        <div class="col-xl">
            <form id="email-form" method="post">
                <div class="form-group">
                    <label asp-for="Email"></label>
                    @if (Model.IsEmailConfirmed)
                    {
                        <div class="input-group">
                            <input asp-for="Email" class="form-control" disabled />
                            <div class="input-group-append">
                                <span class="input-group-text text-success font-weight-bold">✓</span>
                            </div>
                        </div>
                    }
                    else
                    {
                        <input asp-for="Email" class="form-control" disabled />
                        <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                    }
                </div>
                <div class="form-group">
                    <label asp-for="emailUpdate.NewEmail"></label>
                    <input asp-for="emailUpdate.NewEmail" class="form-control" />
                    <span asp-validation-for="emailUpdate.NewEmail" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn btn-primary">Change email</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $('main').css('min-width', '60%');
    </script>
    <partial name="_ValidationScriptsPartial" />
}
