﻿@model HoldTagSignOff.Models.TagReport
@{
    ViewData["Title"] = $"{Model.LongId}";
    int duration = Convert.ToInt32(Model.LengthOfChange);
    string days = duration > 1 ? "Days" : "Day";
}

<table class="table report">
    <thead>
        <tr style="border-top: 1px solid black">
            <th colspan="4">
                @Html.Raw(@Model.Title.Value)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="field-label">
                @Html.DisplayNameFor(m => m.Date):
            </td>
            <td>
                @Html.DisplayFor(m => m.Date)
            </td>
            <td class="field-label">
                ID Number:
            </td>
            <td>
                @Html.DisplayFor(m => m.LongId)
            </td>
        </tr>
        <tr style="border-top: 1px solid black">
            <td class="field-label">
                @Html.DisplayNameFor(m => m.PartId):
            </td>
            <td>
                <h5>@Html.DisplayFor(m => m.PartId)</h5>
            </td>
            <td class="field-label">
                @Html.DisplayNameFor(m => m.MachineId):
            </td>
            <td>
                @Html.DisplayFor(m => m.MachineId)
            </td>
        </tr>
        <tr>
            <td class="field-label">
                Current Process Step:
            </td>
            <td>
                @Html.DisplayFor(m => m.Operation)
            </td>
            <td class="field-label">
                @Html.DisplayNameFor(m => m.IssuedBy):
            </td>
            <td>
                @Html.DisplayFor(m => m.IssuedBy)
            </td>
        </tr>
        <tr>
            <td class="field-label">
                @Html.DisplayNameFor(m => m.Reason):
            </td>
            <td>
                @Html.DisplayFor(m => m.Reason)
            </td>
            <td class="field-label">
                @Html.DisplayNameFor(m => m.OkdBy):
            </td>
            <td>
                @Html.DisplayFor(m => m.OkdBy)
            </td>
        </tr>
        <tr style="border-top: 1px solid black">
            <td class="field-label">
                @Html.DisplayNameFor(m => m.Feature):
            </td>
            <td>
                @Html.DisplayFor(m => m.Feature)
            </td>
            <td class="field-label">
                @Html.DisplayNameFor(m => m.SupplierIssue)
            </td>
            <td>
                @Html.DisplayFor(m => m.SupplierIssue)
            </td>
        </tr>
        <tr><td colspan="4"></td></tr>
        <tr>
            <td colspan="4" style="background-color:#CCC;text-align:center">
                <h2> Valid for @duration @days Till: @Model.ExpiresOn.ToString("MMMM d, yyyy")</h2>
                <h6>If Expired Notify Supervisor - Do Not Remove</h6>
            </td>
        </tr>
        <tr><td colspan="4"></td></tr>
        <tr>
            <td class="field-label">
                Special Instructions:
            </td>
            <td colspan="3">
                @Html.DisplayFor(m => m.Body)
            </td>

        </tr>
        <tr style="border-top: 1px solid black">
            <td colspan="4">
                <ul style="display:flex;justify-content:space-around;padding:0">
                    @foreach (Tuple<string, string> data in @ViewContext.ViewBag.PictureData)
                    {
                        (string Uri, string Name) picture = data.ToValueTuple();

                        <text>
                            <li style="margin: 1em 0;list-style:none">
                                <img src="~/storage/@picture.Uri" alt="Attached Picture" width="400" />
                                <div>
                                    <a href="~/storage/@picture.Uri">@picture.Name</a>
                                </div>
                            </li>

                        </text>
                    }
                </ul>
            </td>
        </tr>
        <tr style="border-top: 2px solid black">
            <td colspan="4">
                <em>@Html.DisplayNameFor(m => m.Attachments)</em>:
                <ul style="list-style:circle;padding:0">
                    @foreach (Tuple<string, string> data in @ViewContext.ViewBag.AttachmentList)
                    {
                        (string Uri, string Name) file = data.ToValueTuple();

                        <text>
                            <li style="margin:1em 0;list-style:none">
                                <a href="~/storage/@file.Uri">@file.Name</a>
                            </li>
                        </text>
                    }
                </ul>
            </td>
        </tr>
    </tbody>
    <tfoot style="border-top: 2px solid black">
        <tr>
            <td colspan="4" style="text-align:center">These instructions are intended for temporary use only.</td>
        </tr>
        <tr>
            <td colspan="4" style="text-align:center">MUST be removed when the work is completed!!</td>
        </tr>
        <tr>
            <td colspan="4" style="text-align:center">After @duration @days.ToLower() this must be evaluated by Quality Engineer.</td>

        </tr>
        <tr>
            <td colspan="4" style="text-align:center">If Expired Notify Supervisor - Do Not Remove</td>
        </tr>
        <tr>
            <td colspan="4" style="text-align:left"><em>Printed: @System.DateTime.Now.ToString("dd-MMM-yy")</em></td>
        </tr>
    </tfoot>
</table>

