@model HoldTagSignOff.Models.TagReport
@{
    ViewData["Title"] = $"{Model.LongId}";
    int duration = Convert.ToInt32(Model.LengthOfChange);
    string days = duration > 1 ? "Days" : "Day";
}
<table class="table report no-wrap" style="border:2px solid #000">
    <thead>
        <tr style="border-top: 1px solid #000">
            <th colspan="5">
                @Html.Raw(@Model.Title.Value)
            </th>
        </tr>
        <tr>
            <th class="cell tpc-heading">Date</th>
            <th class="cell tpc-heading">Process</th>
            <th class="cell tpc-heading">By</th>
            <th class="cell tpc-heading">Reason</th>
            <th class="cell tpc-heading">Approved By</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="cell">@Html.DisplayFor(_ => Model.Date)</td>
            <td class="cell">@Html.DisplayFor(_ => Model.Operation)</td>
            <td class="cell">@Html.DisplayFor(_ => Model.IssuedBy)</td>
            <td class="cell">@Html.DisplayFor(_ => Model.Reason)</td>
            <td class="cell">@Html.DisplayFor(_ => Model.OkdBy)</td>
        </tr>
        <tr>
            <td colspan="2">@Html.DisplayFor(_ => Model.SupplierIssue)&nbsp;@Html.DisplayNameFor(_ => Model.SupplierIssue)</td>
            <td colspan="2">@Html.DisplayFor(_ => Model.ModWritten)&nbsp;@Html.DisplayNameFor(_ => Model.ModWritten)</td>
            <td><strong>Machine:&nbsp;</strong>@Html.DisplayFor(_ => Model.MachineId)</td>
        </tr>
        <tr>
            <td class="cell tpc-heading" colspan="3"><strong>Reason Note</strong></td>
            <td class="cell tpc-heading" colspan="2"><strong>@Html.DisplayNameFor(_ => Model.Feature)</strong></td>
        </tr>
        <tr>
            <td class="cell" colspan="3" rowspan="2">@Html.DisplayFor(_ => Model.Body)</td>
            <td class="cell" colspan="2" rowspan="2">@Html.DisplayFor(_ => Model.Feature)</td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <td class="cell tpc-heading" colspan="3"><strong>@Html.DisplayNameFor(_ => Model.Comment)</strong></td>
            <td colspan="2" rowspan="4">
                @foreach (Tuple<string, string> picData in ViewContext.ViewBag.PictureData)
                {
                    (string Uri, string Name) picture = picData.ToValueTuple();

                    <div style="display:inline">
                        <a href="~/storage/@picture.Uri"><img src="~/storage/@picture.Uri" alt="Attached Picture" width="200" /></a>
                    </div>
                }
            </td>
        </tr>
        <tr>
            <td class="cell" colspan="3" rowspan="2">@Html.DisplayFor(_ => Model.Comment)</td>
        </tr>
        <tr></tr>
        <tr>
            <td class="cell tpc-heading" style="border-bottom:0"><strong>@Html.DisplayNameFor(_ => Model.LengthOfChange)</strong></td>
            <td class="cell" colspan="2" rowspan="2" style="border-bottom:0"><em>If Expired, Notify Supervisor - Do Not Remove</em></td>
        </tr>

        <tr>
            <td class="cell" style="border-top:0"><strong>@duration</strong> @days Till: @Model.ExpiresOn.ToString("MMMM d, yyyy")</td>

        </tr>
    </tbody>
</table>

<div style="text-align:center">
    <strong><u>PLEASE ATTACH COPY OF TCP TO EACH CONTAINER - PRINT ON ORANGE PAPER</u></strong>
    <div style="text-align:left"><em>Printed: @System.DateTime.Now.ToString("dd-MMM-yy")</em></div>
    <br />
</div>

<table class="table report no-wrap" style="border:2px solid #000">
    <thead>
        <tr style="border-top: 1px solid #000">
            <th colspan="5">
                @Html.Raw(@Model.Title.Value)
            </th>
        </tr>
        <tr>
            <th class="cell tpc-heading">Date</th>
            <th class="cell tpc-heading">Process</th>
            <th class="cell tpc-heading">By</th>
            <th class="cell tpc-heading">Reason</th>
            <th class="cell tpc-heading">Approved By</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="cell">@Html.DisplayFor(_ => Model.Date)</td>
            <td class="cell">@Html.DisplayFor(_ => Model.Operation)</td>
            <td class="cell">@Html.DisplayFor(_ => Model.IssuedBy)</td>
            <td class="cell">@Html.DisplayFor(_ => Model.Reason)</td>
            <td class="cell">@Html.DisplayFor(_ => Model.OkdBy)</td>
        </tr>
        <tr>
            <td colspan="2">@Html.DisplayFor(_ => Model.SupplierIssue)&nbsp;@Html.DisplayNameFor(_ => Model.SupplierIssue)</td>
            <td colspan="2">@Html.DisplayFor(_ => Model.ModWritten)&nbsp;@Html.DisplayNameFor(_ => Model.ModWritten)</td>
            <td><strong>Machine:&nbsp;</strong>@Html.DisplayFor(_ => Model.MachineId)</td>
        </tr>
        <tr>
            <td class="cell tpc-heading" colspan="3"><strong>Reason Note</strong></td>
            <td class="cell tpc-heading" colspan="2"><strong>@Html.DisplayNameFor(_ => Model.Feature)</strong></td>
        </tr>
        <tr>
            <td class="cell" colspan="3" rowspan="2">@Html.DisplayFor(_ => Model.Body)</td>
            <td class="cell" colspan="2" rowspan="2">@Html.DisplayFor(_ => Model.Feature)</td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <td class="cell tpc-heading" colspan="3"><strong>@Html.DisplayNameFor(_ => Model.Comment)</strong></td>
            <td colspan="2" rowspan="4">
                @foreach (Tuple<string, string> picData in ViewContext.ViewBag.PictureData)
                {
                    (string Uri, string Name) picture = picData.ToValueTuple();

                    <div style="display:inline">
                        <a href="~/storage/@picture.Uri"><img src="~/storage/@picture.Uri" alt="Attached Picture" width="200" /></a>
                    </div>
                }
            </td>
        </tr>
        <tr>
            <td class="cell" colspan="3" rowspan="2">@Html.DisplayFor(_ => Model.Comment)</td>
        </tr>
        <tr></tr>
        <tr>
            <td class="cell tpc-heading" style="border-bottom:0"><strong>@Html.DisplayNameFor(_ => Model.LengthOfChange)</strong></td>
            <td class="cell" colspan="2" rowspan="2" style="border-bottom:0"><em>If Expired, Notify Supervisor - Do Not Remove</em></td>
        </tr>
        <tr>
            <td class="cell" style="border-top:0"><strong>@duration</strong> @days Till: @Model.ExpiresOn.ToString("MMMM d, yyyy")</td>

        </tr>
    </tbody>
</table>

<div style="text-align:center">
    <strong><u>PLEASE ATTACH COPY OF TCP TO EACH CONTAINER - PRINT ON ORANGE PAPER</u></strong>
    <div style="text-align:left"><em>Printed: @System.DateTime.Now.ToString("dd-MMM-yy")</em></div>
    <br />
</div>