﻿@{
    ViewData["Title"] = "About this Software";
}
<h4>@ViewData["Title"]</h4>

<p>This application was developed by students of Conestoga's College as their CAPSTONE final project.</p>
<p>The team consisted of:</p>
<ul>
    <li>Bao Kh&#225;nh Nguyễn &lt;<a href="mailto:hanknguyen90@gmail.com">hanknguyen90@gmail.com</a>&gt;</li>
    <li>Chackaphope Ying Yong &lt;<a href="mailto:chackaphope@gmail.com">chackaphope@gmail.com</a>&gt;</li>
    <li>Robert Di Pardo &lt;<a href="mailto:dipardo.r@gmail.com">dipardo.r@gmail.com</a>&gt;</li>
    <li>Xinghua Li &lt;<a href="mailto:lxhuse@gmail.com">lxhuse@gmail.com</a>&gt;</li>
</ul>
<div>
    <p>The project's focus was improving the user interface for the legacy Quality Alert Tag management system.</p>
    <p>The team implemented the new system using Entity Framework Core, a part of the <a href="https://github.com/dotnet">.NET Core platform.</a></p>
    <p>The interface was redesigned as an MVC web application connected to a MySQL backend.</p>
</div>
<div>
    <h5><em>The team is grateful to the engineering staff at Stackpole International (Stratford, Ontario) for their co-operation and guidance</em></h5>
</div>
<hr />
<p>Copyright &copy; 2020 Bao Kh&#225;nh Nguyễn, Chackaphope Ying Yong, Robert Di Pardo, Xinghua Li</p>
<p>This software is licensed under the terms of the Apache License, Version 2.0. More information can be found <a href="http://www.apache.org/licenses/LICENSE-2.0">here</a>.</p>

<hr />
<p xmlns:dct="https://purl.org/dc/terms/" xmlns:vcard="https://www.w3.org/2001/vcard-rdf/3.0#">
    <div style="width:20%;margin:0 auto">
        <a rel="license"
           href="https://creativecommons.org/publicdomain/zero/1.0/">
            <img src="https://i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" />
        </a>
    </div>
    <br />
    To the extent possible under law,
    <a rel="dct:publisher"
       href="https://www.pexels.com/@@pixabay">
        <span property="dct:title">Pixabay</span>
    </a>
    has waived all copyright and related or neighboring rights to
    <span property="dct:title"><a href="https://www.pexels.com/photo/blur-brass-chrome-close-up-209255/">Clock Motor</a></span>.
    <br />
    This work is published from:
    <span property="vcard:Country" datatype="dct:ISO3166"
          content="CA" href="https://www.pexels.com/@@pixabay">
        Canada
    </span>.

<p>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <script>
            $(function () {
                $('main').css('max-width', '80%');
            });
        </script>
    }
