﻿@{
    ViewData["Title"] = "Stackpole Quality Tags Alert System ";
}

<div class="text-center">
    <div><img src="~/img/stackpole-logo.png" alt="Stackpole-Logo" /></div>
    <br />
    <h4>Quality System</h4>
    <h5>Process Alert Tags</h5>
</div>