﻿@model IEnumerable<HoldTagSignOff.Models.PartValueCalculation>

@{
    ViewData["Title"] = "Part Value and Weight";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-xl">

        <div class="form-group form-inline">
            <select class="form-control" id="partId" name="partId" asp-items="ViewBag.PartsList"></select>
            <input class="form-control number-input" id="numPieces" name="numPieces" type="number" min="1" value="1" />
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PartDeptId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Department)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cost)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.WeightLbs)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalValue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalWeight)
                    </th>
                </tr>
            </thead>
            <tbody id="calculatedPartValue">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.PartDeptId)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Department)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Cost)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.WeightLbs)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.TotalValue)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.TotalWeight)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>